.app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  gap: 20px;
}

.search {
  padding: 10px;
  text-align: center;
}

.results {
  width: 100%;
}

.item {
  margin: 15px 0px;
  border: 1px solid white;
  padding: 15px;
  box-shadow: 5px 6px 5px rgba(255, 255, 255, 0.144);
  font-size: 10px;
}

.item a {
  color: inherit;
  font-size: 14px;
}
